<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">
	
    <bean id="ToyotaBean" class="com.kapture.spring.ToyotaEngine">
        <constructor-arg name="company" value="Toyota"></constructor-arg>
        <constructor-arg name="cost" value="900000"></constructor-arg>
<!-- 		<property name="company" value="Toyota"> -->
<!-- 		</property> -->
<!-- 		<property name="cost" value="900000.00"> -->
<!-- 		</property> -->
	</bean>
	<bean id="HondaBean" class="com.kapture.spring.HondaEngine">
		<property name="company" value="Honda">
		</property>
		<property name="cost" value="760000.00">
		</property>
	</bean>
    <bean id="tyre1Bean" class="com.kapture.spring.Tyres">
        <constructor-arg name="name" value="Bridgestone"></constructor-arg>
        <constructor-arg name="dimension" value="112"></constructor-arg>
        <constructor-arg name="gripType" value="Hard"></constructor-arg>
<!--         <property name="name" value="Bridgestone"> -->
<!--         </property> -->
<!--         <property name="dimension" value="112"> -->
<!--         </property> -->
<!--         <property name="gripType" value="Hard"> -->
<!--         </property> -->
    </bean>
	<bean id="tyre2Bean" class="com.kapture.spring.Tyres">
		<property name="name" value="Pirelli">
		</property>
		<property name="dimension" value="128">
		</property>
		<property name="gripType" value="Soft">
		</property>
	</bean>
	<bean id="InjectWithSetter" class="com.kapture.spring.Vehicle">
		<property name="engine" ref="HondaBean">
		</property>
		<property name="tyre" ref="tyre2Bean">
		</property>
	</bean>
	<bean id="InjectWithConstructor"
		class="com.kapture.spring.Vehicle">
		<constructor-arg name="engine" ref="HondaBean">
		</constructor-arg>
		<constructor-arg name="tyre" ref="tyre2Bean">
		</constructor-arg>
	</bean>
</beans>