<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body style="padding-left: 25px; padding-right: 25px; padding-top: 20px;">
<div class="w-25">
    <form class="" th:action="@{/}" method="POST">
        <div class="row">
            <div class="col">
                <input type="number" class="form-control" id="leftOperand" placeholder="Left Operand"
                       name="leftOperand" th:value="${leftOperand}"/>
            </div>

            <div class="col">
                <select class="form-control" name="operator">
                    <option value="+" th:selected="${operator.equals('+')}">+</option>
                    <option value="-" th:selected="${operator.equals('-')}">-</option>
                    <option value="*" th:selected="${operator.equals('*')}">*</option>
                    <option value="/" th:selected="${operator.equals('/')}">/</option>
                    <option value="%" th:selected="${operator.equals('%')}">%</option>
                    <option value="^" th:selected="${operator.equals('^')}">^</option>
                </select>
            </div>

            <div class="col">
                <input type="number" class="form-control" id="rightOperand" placeholder="Right Operand"
                       name="rightOperand" th:value="${rightOperand}"/>
            </div>
        <br>
        <div class="col w-75">
            <input type="text" class="form-control" id="result" placeholder="Result"
                   name="result" th:value="${result}"/>
            <br>
        </div>
            <button type="submit" class="btn btn-primary">Calculate</button>
        </div>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>
</html>